In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df=pd.read_csv("data/dataset-seek.csv")
df1=df.iloc[:520,1:]

In [ ]:
df1.head()

In [ ]:
df1.company.value_counts()

In [ ]:
df1.isnull().sum()

In [ ]:
df1.shape

In [ ]:
df1.salary.isnull().sum()

In [ ]:
title_counts=df1.title.value_counts()
title_counts

In [ ]:
title_counts.plot(kind='bar')

In [ ]:
df1.dtypes

##salary cleaning

In [ ]:
df1['salary']=df1['salary'].fillna(method='ffill')

In [ ]:
df1['salary']

In [ ]:
df1['sal']=df1.astype({'salary': 'str'}).dtypes

In [ ]:
df1['sal1']=df1['salary'].astype(str)

In [ ]:
df1['sal1']=df1['sal1'].apply(lambda x: x.replace('k','').replace('$',''))

In [ ]:
df1['sal1']

In [ ]:
df1['Salary Estimate']=(df1['sal1'].apply(lambda x:x.split('+')))  
df1['Salary Estimate']=(df1['sal1'].apply(lambda x:x.strip('$')))

In [ ]:
df1['Salary Estimate']=(df1['sal1'].apply(lambda x:x.strip('$')))

In [ ]:
df1['Salary Estimate']

In [ ]:
df1['sal1']

In [ ]:
 df1['Salary-Estimate1']=df1['sal1'].apply(lambda x:x.split(' '))

In [ ]:
df1['Salary-Estimate1']

In [ ]:
df1['salary_estimate']=df1['sal1'].apply(lambda x:x.split('+')[0])

In [ ]:
df1['salary_estimate']

In [ ]:
(df1['Salary-Estimate1'][:][1][0])

In [ ]:
df1['salary_estimate'][:][0:3]

In [ ]:
df1['salary_min']=(df1['Salary-Estimate1'].apply(lambda x:x[:][0]))

In [ ]:
df1['salary_min']

In [ ]:
df1['min_salary'] =  df1['salary_min']

In [ ]:
df1['Salary-max']=(df1['Salary-Estimate1'].apply(lambda x:x[:][2:3]))

In [ ]:
df1['Salary-max']

In [ ]:
df1['value1'] =  df1['Salary-max'].str[0]

In [ ]:
df1.head()

In [ ]:
df1=df1.drop(['Salary Estimate', 'Salary-Estimate1','sal1','sal','salary_estimate','salary_min','Salary-max'], axis=1)

In [ ]:
df1.dtypes

In [ ]:


df1['min_salary']=df1['min_salary'].apply(lambda x:x.split(',')[0])
df1['value2']=df1['value1'].astype(str).apply(lambda x:x.split(',')[0])

In [ ]:
df1['value2']=df1['value1'].astype(str).apply(lambda x:x.split(',')[0])

In [ ]:
df1.head()

In [ ]:
df1=df1.drop(['value1'],axis=1)

In [ ]:
df1['min_salary1']=df1['min_salary'].apply(lambda x:x.split('-')[0])

In [ ]:
min_salary1=df1['min_salary1']
df1['min_salary1'].replace(to_replace = 'Base',value='103',inplace=True)
df1['min_salary1'].replace(to_replace = 'Attractive',value='190',inplace=True)
df1['min_salary1'].replace(to_replace = 'Up',value='100',inplace=True)

In [ ]:
df1['min_salary1'].value_counts()

In [ ]:
df1['value2'].value_counts()

In [ ]:
df1[df1['value2']=='Super']

In [ ]:
df1.head()

In [ ]:
df1=df1.drop(['salary','min_salary'],axis=1)

In [ ]:
df1.rename(columns = {'value2':'max_salary','min_salary1':'min_salary'}, inplace = True)

In [ ]:
df1['max_salary']=pd.to_numeric(df1['max_salary'], errors='coerce')
df1['min_salary']=pd.to_numeric(df1['min_salary'], errors='coerce')
df1['max_salary']=df1['max_salary'].fillna(method='bfill')
df1['min_salary1']=df1['min_salary'].fillna(method='ffill')

In [ ]:
df1['min_salary']=pd.to_numeric(df1['min_salary'], errors='coerce')

In [ ]:
df1['max_salary']=df1['max_salary'].fillna(method='bfill')

In [ ]:
df1['min_salary1']=df1['min_salary'].fillna(method='ffill')

In [ ]:
df1['max_salary'].value_counts()
#((df1['value2']=='Super')/df1['min_salary1']).mul(100).round(2).astype(str)

In [ ]:
df1['min_salary']=df1['min_salary'].astype(int)

In [ ]:
df1['avg_salary'] = (df1.min_salary+df1.max_salary)//2

In [ ]:
df1.head()

In [ ]:
df1.tail()

In [ ]:
df1['min_salary'].value_counts()

In [ ]:
df1['max_salary'].value_counts()

In [ ]:
df1=df1.drop(['min_salary1'],axis=1)

In [ ]:
df1.head()

In [ ]:
df1.title.value_counts()

In [ ]:
df1['class'].value_counts()

In [ ]:
job_by_state = df1.groupby(['location'])[['min_salary']].count()
job_by_state

In [ ]:
from sklearn import preprocessing

category_col =['class', 'location','title','company']  
#df1=df1[category_col]
labelEncoder = preprocessing.LabelEncoder() 
  
mapping_dict ={} 
for col in category_col: 
    df1[col] = labelEncoder.fit_transform(df1[col]) 
  
    le_name_mapping = dict(zip(labelEncoder.classes_, 
                        labelEncoder.transform(labelEncoder.classes_))) 
mapping_dict[col]= le_name_mapping 
print(mapping_dict)

In [ ]:
df1.head()

company_mapping = {'Stockland':0, 'University of Technology Sydney':1,'Susquehanna Pacific Pty Ltd':2,
                  'CPB Contractors Pty Limited':3,'AC3 Pty Limited':4,'TheDriveGroup':5,
                   'The Onset': 6, 'SEEK Limited': 7, 'PRA': 8, 'Talent Insights Group Pty Ltd': 9,
                   'Pearson Australia': 10, 'Westpac Group': 11, 'ASIC': 12,'The Argyle Network':13,
                  'Correlate Resources':14,'Bluefin Resources Pty Limited':15}
dummy.company = df1.company.map(company_mapping)

In [ ]:
df1=df1.drop(['days_before','max_salary','min_salary'],axis=1)

In [ ]:
df1.head()

In [ ]:
df1.shape

In [ ]:
from nltk.stem import PorterStemmer
import re

stemmer = PorterStemmer()

In [ ]:
def stem_sentences(sentence):
    
    #sentence = sentence.replace("[^a-zA-Z\d\s.]", " ")    
    line = re.sub(r"[^a-zA-Z\d\s.]+", " ", str(sentence))
    tokens = line.replace(".", " ").split()
    stemmed_tokens = [stemmer.stem(token.strip()) for token in tokens]
    return ' '.join(stemmed_tokens)

In [ ]:
df1['summary_stem'] = df1['description'].apply(stem_sentences)
df1['summary_stem'].head(10)

In [ ]:
#df1=df1.drop(['description','max_salary','min_salary'],axis=1)
y = df1['avg_salary']
X = df1.drop(columns=['avg_salary'])
X.head(2)

In [ ]:
import seaborn as sns

from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestClassifier


from sklearn import metrics
from sklearn.metrics import accuracy_score, roc_curve, auc
from sklearn.metrics import classification_report, confusion_matrix

import warnings
warnings.filterwarnings("ignore")


%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [ ]:
custom_stop_words = list(ENGLISH_STOP_WORDS)
# add own custom stopwords
word_list = ['thi', 'skill','click', 'job', 'role', 'cover', 'letter','resume', 'apply', 'button', 'abil'
             'quot', 'pleas', 'requir', 'phone', 'call', 'provid', 'includ', 'success', 'com', 'au', 'strong']
for w in word_list:
    custom_stop_words.append(w)

In [ ]:
from wordcloud import WordCloud
def generate_word_cloud(words, freq=False):
    
    # if not frequency, the data is given as panda series
    # then need to do some data processing first
    if freq==False:

        stem_words = ' '

        for val in words:
            #val = str(val).lower()
            #line = re.sub(r"[^a-zA-Z\d\s.]+", " ", str(val))
            tokens = str(val).replace(".", " ").split()
            stemmed_tokens = [token.strip() for token in tokens] 
            stem_words = ' '.join(stemmed_tokens)

    #'--------------------------------------------------'
    # generate word could with some defined parameters
    wcloud = WordCloud(width = 480, height = 480,
                    background_color ='white', 
                    stopwords = custom_stop_words, 
                    min_font_size = 8)
    
    #'--------------------------------------------------'
    # now generate word clound based
    if freq:
        wcloud.generate_from_frequencies(words)
    else:
        wcloud.generate(stem_words) 
        
    #'--------------------------------------------------'
    # plot the WordCloud image                        
    plt.figure(figsize = (8, 8), facecolor = None) 
    plt.imshow(wcloud) 
    plt.axis("off") 
    plt.tight_layout(pad = 0) 

    plt.show()

In [ ]:
X.summary_stem

In [ ]:
#generate_word_cloud(X.summary_stem)

In [ ]:
def tokenize_test(vec):
    
    # Create document-term matrices - NLP
    #------------------------------------------------------------
    # Fitting and Transfrom the vectorizer on training data
    X_train_vec = vec.fit_transform(X_train['summary_stem'])
    print('Features: ', X_train_vec.shape[1])

    # Transform on test data
    X_test_vec = vec.transform(X_test['summary_stem'])
    #------------------------------------------------------------
    
    # Create dataframe after document-term matrices has been created
    #------------------------------------------------------------
    X_train_vec_df = pd.DataFrame(X_train_vec.todense(), columns=vec.get_feature_names())
    X_test_vec_df = pd.DataFrame(X_test_vec.todense(), columns=vec.get_feature_names())
    #------------------------------------------------------------
    
    # Extract top 10 and EDA
    #------------------------------------------------------------
    # top 10 words with highest frequency - work experience, management, data, team
    words = X_train_vec_df.sum().sort_values(ascending=False) #.head(20)
    #print(words)
    
    # plot top 10 words
    #words.plot(kind='bar', figsize=(15, 5))
    generate_word_cloud(words.to_dict(), True)
    #------------------------------------------------------------
    
    # Combine to create the full set of X
    #------------------------------------------------------------
    # remove stem columns as it now has been processed
    mask_train_df = X_train.drop('summary_stem',axis=1).reset_index(drop=True)
    mask_test_df = X_test.drop('summary_stem',axis=1).reset_index(drop=True)

    # time to put the data back to the main X_train and X_test
    X_train_dtm = pd.concat([mask_train_df, X_train_vec_df], axis=1)
    X_test_dtm = pd.concat([mask_test_df, X_test_vec_df], axis=1)
    #------------------------------------------------------------
    
    
    # Kbest Feature Selection after NLP
    #----------------------------------------------------------
    # build the selector (build one with each score type)
    skb_f = SelectKBest(f_classif) # default is k=10)

    # train the selector on data
    skb_f.fit(X_train_dtm, y_train)

    # examine results
    kbest = pd.DataFrame({'variable': X_train_dtm.columns.values.tolist(),
                         'score': list(skb_f.scores_)}).sort_values('score', ascending = False)
    
    kbest.columns = ['kBest_features', 'kBest_score']    
    kbest.reset_index(inplace=True, drop=True)

    # plot top 10 features
    kbest.head(20).plot(kind='bar', x='kBest_features', y='kBest_score', figsize=(15,5), grid=True)
    
    X_Ktrain = X_train_dtm[kbest.kBest_features]
    X_Ktest = X_test_dtm[kbest.kBest_features]

    return (X_Ktrain, X_Ktest)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
tvec = TfidfVectorizer(ngram_range=(2,3), stop_words=custom_stop_words, max_features=1000)


#X = TfidV.fit_transform(X)
#X=tvec.fit_transform(X)


from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, f1_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y)

X_train, X_test = tokenize_test(tvec)

model=RandomForestRegressor(max_depth=50,n_estimators=100, n_jobs=-1)
model.fit(X_train, y_train)

In [ ]:
import numpy as np
y_pred = model.predict(X_test)

#from sklearn.metrics import confusion_matrix, f1_score

from sklearn.metrics import confusion_matrix, f1_score

errors = abs(y_pred - y_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

In [ ]:
mape = 100 * (errors / y_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

In [ ]:
import pickle
with open('seek_predict11.pkl', 'wb') as file:
    pickle.dump(model, file)